body {
    background: #000000;
    font-family: sans-serif;
}

.bg-gold { background: #ffcd00 !important;}
.bg-black { background: #000000 !important;}
.bg-white { background: #aaaaaa !important;}
.bg-twitter { background:#1da1f2 !important; }
.border-gold { 
    border-color:#ffcd00 !important; 
    border-left-color: #ffcd00 !important;
    border-right-color: #ffcd00 !important;
    border-top-color: #ffcd00 !important;
    border-bottom-color: #ffcd00 !important;
}
.border-twitter {
    border-color:#1da1f2 !important; 
    border-left-color: #1da1f2 !important;
    border-right-color: #1da1f2 !important;
    border-top-color: #1da1f2 !important;
    border-bottom-color: #1da1f2 !important;
}
.text-gold { color:#ffcd00 !important; }
.text-black { color:#000000 !important; }
.text-white { color: #dddddd !important;}
.text-twitter { color:#1da1f2 !important; }
.text-twitch { color:#9147ff !important; }

.card { max-width: 600px; }

#np_art { max-height: 125px;}
.rp_art { max-height: 75px; }

.fcst_item { font-size: 1.25rem; }

#cam { min-height: 250px; }

.dayTempMax { color:#ffb4b4 !important; }
.dayTempMin { color:#93bffe !important; }

.text-lt-red { color:#f15152 !important; }
.text-lt-blue { color:#3C91E6 !important; }

.stream {
    width: 100%;
    aspect-ratio: 16/9;
    padding-bottom: 0;
}